*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(to bottom,#fdf8ef,#f7edd9);
overflow:hidden;
font-family:'Cormorant Garamond',serif;
}

.background{
position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle,#fffdf7,#f5ead3);
z-index:-2;
}

.container{
text-align:center;
}

h1{
font-family:'Cinzel',serif;
font-size:42px;
color:#7a5a2a;
margin-bottom:10px;
}

.subtitulo{
font-size:20px;
color:#8b6f47;
margin-bottom:35px;
}

.clique{
margin-top:25px;
font-size:18px;
color:#7a5a2a;
animation:pulse 2s infinite;
}

.flower{
position:absolute;
font-size:42px;
opacity:.7;
animation:balanco 4s ease-in-out infinite;
}

.flower1{
top:30px;
left:30px;
}

.flower2{
bottom:30px;
right:30px;
}

.envelope{
position:relative;
width:320px;
height:220px;
cursor:pointer;
perspective:1000px;
}

.back{
position:absolute;
width:100%;
height:100%;
background:#d8b48a;
border-radius:8px;
}

.front{
position:absolute;
bottom:0;
width:100%;
height:100%;
background:#c79a67;
clip-path:polygon(0 100%,50% 45%,100% 100%);
z-index:5;
}

.flap{
position:absolute;
top:0;
width:100%;
height:110px;
background:#e2c39b;
clip-path:polygon(0 0,100% 0,50% 100%);
transform-origin:top;
transition:1s;
z-index:8;
}

.letter{
position:absolute;
left:10px;
top:20px;
width:300px;
background:#fff;
border-radius:10px;
padding:10px;
transition:1.2s;
z-index:2;
box-shadow:0 8px 20px rgba(0,0,0,.2);
transform: translateY(0);
}

.letter img{
width:100%;
border-radius:8px;
}

.envelope.open .flap{
transform:rotateX(180deg);
}

.envelope.open .letter{
transform:translateY(-180px) scale(1.05);
}

@keyframes pulse{
50%{
opacity:.5;
}
}

@keyframes balanco{
0%{transform:rotate(-4deg);}
50%{transform:rotate(4deg);}
100%{transform:rotate(-4deg);}
}
