*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Poppins',sans-serif;
    background:linear-gradient(180deg,#FFFBEA,#FBE8B5,#F6D77A);
    position:relative;
}

.background{
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top,#FFFDF5 0%,transparent 60%),
    radial-gradient(circle at bottom,#F8D86A 0%,transparent 70%);
    z-index:-3;
}

#decoracao{
    position:fixed;
    inset:0;
    overflow:hidden;
    pointer-events:none;
    z-index:-2;
}

.flor{
    position:absolute;
    user-select:none;
    animation:balanco 6s ease-in-out infinite;
    filter:drop-shadow(0 0 10px rgba(255,180,0,.5));
}

.brilho{
    position:absolute;
    width:6px;
    height:6px;
    border-radius:50%;
    background:#fff8b5;
    box-shadow:0 0 12px gold;
    animation:piscar 2s infinite;
}

.container{
    text-align:center;
    position:relative;
    z-index:5;
}

h1{
    font-family:'Cinzel',serif;
    color:#7A4E00;
    font-size:42px;
    margin-bottom:30px;
}

.envelope{
    position:relative;
    width:360px;
    height:240px;
    margin:auto;
    cursor:pointer;
    perspective:1200px;
}

.back{
    position:absolute;
    inset:0;
    background:#D7A96B;
    border-radius:14px;
}

.front{
    position:absolute;
    inset:0;
    background:#C88D4A;
    clip-path:polygon(0 100%,50% 45%,100% 100%);
    z-index:4;
}

.flap{
    position:absolute;
    top:0;
    width:100%;
    height:120px;
    background:#E7C89E;
    clip-path:polygon(0 0,100% 0,50% 100%);
    transform-origin:top;
    transition:1s;
    z-index:6;
}

.letter{
    position:absolute;
    left:20px;
    bottom:10px;
    width:320px;
    background:#fff;
    border-radius:12px;
    padding:10px;
    box-shadow:0 15px 30px rgba(0,0,0,.25);
    transition:1s ease;
    z-index:2;
}

.letter img{
    width:100%;
    display:block;
    border-radius:10px;
}
.envelope.open .flap{
    transform:rotateX(180deg);
}

.envelope.open .letter{
    transform:translateY(-220px) scale(1.15);
}

.clique{
    margin-top:25px;
    font-size:18px;
    font-weight:600;
    color:#7A4E00;
    animation:pulse 2s infinite;
}

@keyframes pulse{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:.5;
    }
}

@keyframes
