*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia, serif;
    background:linear-gradient(180deg,#fdf7ed,#f4e4c8);
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h1{
    color:#7a5529;
    margin-bottom:10px;
    font-size:38px;
}

.subtitulo{
    color:#8b6b42;
    margin-bottom:35px;
    text-align:center;
    width:85%;
    max-width:500px;
}

.container{
    position:relative;
}

.envelope{
    width:380px;
    height:250px;
    position:relative;
    cursor:pointer;
}

.corpo{
    position:absolute;
    width:100%;
    height:100%;
    background:#d4af7a;
    clip-path:polygon(0 100%,0 35%,50% 70%,100% 35%,100% 100%);
    border-radius:0 0 12px 12px;
    z-index:2;
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

.tampa{
    position:absolute;
    width:100%;
    height:52%;
    background:#e6c899;
    clip-path:polygon(0 0,100% 0,50% 100%);
    transform-origin:top;
    transition:1s;
    z-index:4;
}

.carta-box{
    position:absolute;
    width:75%;
    left:12.5%;
    top:20px;
    transition:1.2s;
    z-index:1;
}

.carta{
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.envelope.aberto .tampa{
    transform:rotateX(180deg);
}

.envelope.aberto .carta-box{
    transform:translateY(-230px) scale(1.25);
}

.click{
    text-align:center;
    margin-top:25px;
    color:#7a5529;
    font-size:20px;
    transition:.5s;
}

.message{
    margin-top:20px;
    color:#6d4d22;
    opacity:0;
    transition:1s;
    font-size:22px;
}

.message.mostrar{
    opacity:1;
}

.girassol{
    position:absolute;
    font-size:55px;
    animation:girar 5s ease-in-out infinite;
}

.g1{
    top:20px;
    left:20px;
}

.g2{
    top:20px;
    right:20px;
}

.g3{
    bottom:20px;
    left:20px;
}

.g4{
    bottom:20px;
    right:20px;
}

@keyframes girar{
    0%{transform:rotate(-8deg);}
    50%{transform:rotate(8deg);}
    100%{transform:rotate(-8deg);}
}

@media(max-width:600px){

.envelope{
    width:320px;
    height:210px;
}

.envelope.aberto .carta-box{
    transform:translateY(-190px) scale(1.15);
}

h1{
    font-size:30px;
}

.subtitulo{
    font-size:17px;
}

}
